@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }


}

@media(max-width: 650px) {
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .intagram-continue{
        width:90%;
    }
    .group{
        border:none; 
    }
    body{
        background-color: #ffffffff;
    }

}